<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="${dubbo.application.name}"/>
    <dubbo:registry id="platform-basicdata-server" protocol="zookeeper" address="${dubbo.registry.address}"/>

    <dubbo:service
        ref="dubboDruidStatService"
        interface="com.gome.support.druid.stat.view.dubbo.service.DubboDruidStatService" />

    <bean
        id="dubboDruidStatService"
        class="com.gome.support.druid.stat.view.dubbo.service.DubboDruidStatServiceImpl" />

    <dubbo:reference
        id="registryService"
        interface="com.alibaba.dubbo.registry.RegistryService" />

    <!--基础数据dubbo调用，配置组件bean
	
	group：服务分组，当一个接口有多个实现，可以用分组区分，必需和服务提供方一致。（${dubbo.provider.groupId}：Provider的父工程名）
	id：服务引用BeanId
	interface ：服务接口名
	check：启动时检查提供者是否存在，true报错，false忽略，缺省使用<dubbo:consumer>的check
	version：服务版本，与服务提供者的版本一致
	url：点对点直连服务提供者地址，将绕过注册中心
	registry：从指定注册中心注册获取服务列表，在多个注册中心时使用，值为<dubbo:registry>的id属性，多个注册中心ID用逗号分隔
	protocol：只调用指定协议的服务提供方，其它协议忽略。
	-->
    <dubbo:reference group="${dubbo.provider.groupId}" version="1.0.0"  id="employeeFacade" 
	interface="com.gome.platform.basicdata.facade.EmployeeFacade" timeout="3000000"
	check="false" version="1.0" url="" registry="zookeeper"  protocol="dubbo"
	/>
    
    
</beans>