<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rop="http://www.rop.com/schema/rop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.rop.com/schema/rop
      http://www.rop.com/schema/rop/rop-1.0.xsd">

	  
	   <!--1. 扫描Spring Bean-->  
    <context:component-scan base-package="com.gome.coupon.open"/>

	<!--2. 启动Rop框架，annotation-driven负责将组件注册到rop里，只有被注册到rop里这些组件才能生效--> 
    <rop:annotation-driven
            id="router"
			<!-- 格式转换--> 
            formatting-conversion-service="conversionService"
			<!-- 会话管理--> 
            session-manager="ropSessionManager"
			<!-- app密钥，应用键/密钥管理器--> 
            app-secret-manager="appSecretManager"
			<!-- 服务请求处理的超时时间，服务处理超过设定的时间则返回错误报文--> 
            service-timeout-seconds="3000"
            core-pool-size="500"
            max-pool-size="1000"		
			<!-- 队列容量--> 
            queue-capacity="50"
            keep-alive-seconds="300"
			<!-- 是否开启或关闭服务平台签名验证功能--> 
            sign-enable="true"
			
			<!-- 指定业务级子错误资源文件的地址-->
			ext-error-base-names="i18n/rop/sampleRopError,i18n/rop/sampleRopError1"
            />

			
			
	<!-- app密钥，应用键/密钥管理器bean,
	FileBaseAppSecretManager 默认使用读取类路径下的 rop.appSecret.properties 属性文件--> 
    <bean id="appSecretManager" class="com.gome.coupon.open.security.OpenSecurityManager">
        <property name="location" value="classpath:open.properties"></property>
    </bean>
	
	<!--
    会话管理bean
    --> 
    <bean id="ropSessionManager" class="com.gome.coupon.open.session.RedisSessionManager">
        <property name="jedisCluster" ref="jedisCluster"></property>
    </bean>
	
	<!-- 拦截器--> 
	<rop:interceptors>
        <bean class="com.gome.coupon.open.interceptor.RopTokenInterceptor"/>
    </rop:interceptors>
	
	
	
	<!-- 事件监听器--> 
	<rop:listeners>
		<bean class="com.rop.sample.SamplePostInitializeEventListener"/>
		<bean class="com.rop.sample.SamplePreDoServiceEventListener"/>
		<bean class="com.rop.sample.SampleAfterDoServiceEventListener"/>
	</rop:listeners>
	
	
	<!-- 格式转换的bean--> 
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="com.gome.rop.converter.DateConverter" />
			</set>
		</property>
	</bean>


</beans>