<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
">

    <!--redis 连接池-->
    <bean id="redisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<!--最大活动连接数-->
        <property name="maxTotal" value="${redis.maxActive}"/>
		<!--最大等待时间-->
        <property name="maxWaitMillis" value="${redis.maxWait}"/>	
		<!--最大空闲连接数-->
        <property name="maxIdle" value="${redis.maxIdle}"/>
    </bean>
	
	

	<!--redis地址-->
    <bean id="jedisCluster" class="redis.clients.jedis.JedisCluster">
        <constructor-arg index="0" type="java.util.Set">
            <set>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg index="0" value="${redis.cluster1.host}"/>
                    <constructor-arg index="1" value="${redis.cluster1.port}"/>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg index="0" value="${redis.cluster2.host}"/>
                    <constructor-arg index="1" value="${redis.cluster2.port}"/>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg index="0" value="${redis.cluster3.host}"/>
                    <constructor-arg index="1" value="${redis.cluster3.port}"/>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg index="0" value="${redis.cluster4.host}"/>
                    <constructor-arg index="1" value="${redis.cluster4.port}"/>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg index="0" value="${redis.cluster5.host}"/>
                    <constructor-arg index="1" value="${redis.cluster5.port}"/>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg index="0" value="${redis.cluster6.host}"/>
                    <constructor-arg index="1" value="${redis.cluster6.port}"/>
                </bean>
            </set>
        </constructor-arg>
	
        <constructor-arg index="1" type="int" value="${redis.connection.timeout}"/>
        <constructor-arg index="2" type="int" value="${redis.so.timeout}"/>
        <constructor-arg index="3" type="int" value="${redis.maxRedirection}"/>
        <constructor-arg index="4" type="org.apache.commons.pool2.impl.GenericObjectPoolConfig" ref="redisPoolConfig"/>
    </bean>

</beans>