







<!--Configures a handler for serving static resources such as images, js, and, css files with cache headers
	optimized for efficient loading in a web browser. Allows resources to be served out of any path that is
	reachable via Spring's Resource handling.
	加载静态资源如images, js, and, css ，每个cache-period对应相应的缓存
	-->
<mvc:resources mapping="/assets/**" location="/assets/" cache-period="31556926" />



 <!-- 处理将页面请求的日期字符串转换为Date对象，格式为：DateConverter所写的格式 -->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.gome.platform.framework.convertor.DateConverter"/>
            </set>
        </property>
    </bean>
	
	
	 <mvc:annotation-driven conversion-service="conversionService">
	 <!-- Configures one or more HttpMessageConverter types to use for converting @RequestBody method parameters and
	@ResponseBody method return values
		-->
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.BufferedImageHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<!-- 请求类型为utf-8-->
                <constructor-arg value="UTF-8"/>
                <property name="writeAcceptCharset" value="false"/>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter ">
                <!--解决IE9以前无法解析application/json问题-->
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/plain;charset=UTF-8</value>
                    </list>
                </property>
                <property name="objectMapper">
                    <!-- 自定义将后台的Date对象转换为界面可识别的日期字符串，格式：YYYY-MM-dd HH:mm:ss -->
                    <bean class="com.gome.platform.framework.json.CustomObjectMapper"/>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
	
	<!-- 视图解析-->
	 <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 使用jstl -->
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
	
	<!-- 处理文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<!-- 默认编码 (ISO-8859-1) -->
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
		<!-- 最大文件大小，-1为无限止(-1) -->  
        <property name="maxUploadSize">
            <value>32505856</value>
            <!-- 上传文件大小限制为31M，31*1024*1024 -->
        </property>
		<!-- 最大内存大小 -->  
        <property name="maxInMemorySize">
            <value>4096</value>
        </property>
    </bean>
	
	
	<!-- 拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.gome.platform.framework.interceptor.ContextPathInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
	
	
	
	
	
	
	
	
	
	
	