<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	
	
	<!-- 使用zookeeper注册中心暴露服务地址，
	register默认为true是否向此注册中心注册服务，如果设为false，将只订阅，不注册
	
	-->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" timeout="60000"
                    register="true"/>
					
	 <!-- 服务提供者缺省值配置：远程服务调用超时时间(毫秒) -->				
    <dubbo:provider timeout="30000"/>
	
	<!-- 
	用dubbo协议在30001
	threadpool="cached"：线程池类型为缓存
	payload="88388608":请求及响应数据包大小限制，单位：字节 ，默认 ：88388608(=8M)
	-->
    <dubbo:protocol name="dubbo" port="30001" dispather="all" threadpool="cached" threads="5000" payload="88388608"/>
	
	 <!-- 监控中心配置：
	 protocol 监控中心协议，如果为protocol="registry"，表示从注册中心发现监控中心地址，否则直连监控中心。 -->
    <dubbo:monitor protocol="registry"/>
	
	 <!-- 用dubbo协议在${dubbo.protocol.port}端口暴露服务 -->
    <dubbo:protocol port="${dubbo.protocol.port}" name="${dubbo.protocol.name}"/>

    <import resource="spring-context-platform-provider.xml"/>
    <import resource="spring-context-sp-provider.xml"/>

	<!-- 服务提供者暴露服务配置：
	interface	服务接口名
	group  服务分组，当一个接口有多个实现，可以用分组区分
	-->	
    <dubbo:service
        ref="dubboDruidStatService"
        interface="com.gome.support.druid.stat.view.dubbo.service.DubboDruidStatService" />

    <bean
        id="dubboDruidStatService"
        class="com.gome.support.druid.stat.view.dubbo.service.DubboDruidStatServiceImpl" />

	如：
	<!--基础数据模块
	ref：  服务对象实现引用。ref="basicDataEntryFacade 与dubbo:reference 中的id必须保持一致
	interface：服务接口名。 interface的类需要加组件
	owner：服务负责人，用于服务治理，请填写负责人公司邮箱前缀
	-->
    <dubbo:service ref="basicDataEntryFacade" group="${dubbo.provider.groupId}" version="1.0.0"
                   interface="com.gome.platform.basicdata.facade.BasicDataEntryFacade" timeout="1200000"
				   owner="shp"
				   />
    
	<!-- 
	服务消费者引用服务配置：
	interface	服务接口名
	-->	
    <dubbo:reference
        id="registryService"
        interface="com.alibaba.dubbo.registry.RegistryService" />
</beans>